body {
    background-color: #77C29E;
    font-family: 'Montserrat', sans-serif;
    color: #62371C;
}


/* NAVBAR STYLING */

.navbar {
    background-color: #f7f1d5 !important;
    padding-right: 20px;
}

.logo-image {
    width: 120px;
    align-items: left;
    margin-left: 20px;
}

.navbar-nav {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
}

.user-greeting {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 10px 10px 0px 0px;
    font-weight: 300;
}

.logout-button {
    /* position: absolute; */
    /* right: 0%; */
    width: 100px;
    margin-left: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    border: 2px solid #77C29E;
    margin-right: 10px;
    background-color: #f7f1d5 !important;
    color: #62371C !important;
}

.logout-button:hover {
    background-color: #77C29E !important;
    color: #f7f1d5 !important;
}

@media (min-width: 400px) and (max-width: 985px) {
    .user-greeting {
        font-size: 12px;
    }
}


/* HOME PAGE STYLING */

.home-body {
    background: url('https://images.pexels.com/photos/2303337/pexels-photo-2303337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: contain;
    height: 2700px;
}

.container {
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(119, 194, 158, 0.95);
    margin-top: 90px;
    /* margin-right: 30px;
    margin-left: 30px; */
}

.input-form {
    background-color: #f7f1d5;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 3px 3px #62371C;
}

.search-btn {
    color: #62371C;
    text-align: center;
    background-color: #f7f1d5;
    width: 100px;
    margin-top: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    border: 2px solid #77C29E;
}

.search-btn:hover {
    color: #f7f1d5;
    background-color: #77C29E;
}

input {
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: left;
    border: 1px solid #D3604A;
}

select.form-select {
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 10px;
}

option {
    font-size: 13px;
}

.midpoint-msg {
    text-align: center;
    margin-top: 70px;
    padding-bottom: 20px;
    font-size: 18px;
    color: #f7f1d5;
}

.login-msg {
    margin-top: 80px;
    text-align: center;
    color: #f7f1d5;
}

a {
    color: #62371C;
}

.loading-earth {
    transform: rotateY(0.5turn);
    color: #62371C;
    margin-top: 20px;
}


/* @media (max-width: 575px) {
    .loading-earth {
        margin-top: 30px;
    }
} */


/* MAP STYLING */

.leaflet-container {
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 20px;
}

.map-popup {
    color: #62371C;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

.map-container {
    background-color: rgba(119, 194, 158, 0.0);
}


/* NEARBY SEARCH STYLING */

.places-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.place-card {
    background-color: #f7f1d5;
    padding: 20px;
    width: 250px;
    height: 500px;
    margin: 2px;
    text-align: center;
    display: block;
    box-shadow: 3px 3px #62371C;
    margin-bottom: 20px;
}

.place-url {
    font-size: 11px;
}

a {
    color: #62371C;
}

a:hover {
    color: #62371C;
    font-weight: bold;
}

.favourite-heart,
.heart {
    height: 30px;
    color: #77C29E;
    padding-top: 20px;
}

li {
    font-size: 13px;
    padding-top: 5px;
}

.directions-btn {
    color: #62371C;
    text-align: center;
    background-color: #f7f1d5;
    width: 150px;
    margin-top: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 11px;
    border: 2px solid #77C29E;
}

h5 {
    color: #77C29E;
}

.star-rating {
    width: 50%;
}


/* INTRO PAGE STYLING */

.intro-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.intro-text {
    background-color: #f7f1d5;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding: 30px;
    text-align: center;
    /* width: 100%; */
}

html {
    scroll-behavior: smooth;
}

.intro-button {
    color: #62371C;
    text-align: center;
    background-color: #f7f1d5;
    width: 150px;
    margin-top: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    border: 2px solid #77C29E;
}

.intro-button:hover {
    color: #f7f1d5;
    background-color: #77C29E;
}

.intro-image {
    height: 100px;
}

@media (min-aspect-ratio: 16/9) {
    .intro-video {
        width: 100%;
        height: auto;
    }
    .mobile-video {
        display: none;
    }
}

@media (max-aspect-ratio: 16/9) {
    .intro-video {
        width: auto;
        height: 100%;
    }
    .mobile-video {
        display: none;
    }
}

@media (max-width: 480px) {
    .intro-video {
        display: none;
    }
    .mobile-video {
        display: block;
        width: 100%;
        height: auto;
    }
    .intro-text {
        bottom: -17%;
        margin-bottom: 10px;
        padding: 55px;
    }
}


/* LOGIN PAGE STYLING */

.login-body {
    background: url('https://images.pexels.com/photos/1058277/pexels-photo-1058277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.login-container {
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(247, 241, 213, 0.95);
    height: 1000px;
}

.login-form {
    background-color: #77C29E;
    padding: 20px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
    box-shadow: 6px 6px #62371C;
}

.login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    height: 250px;
}

.login-btn {
    color: #f7f1d5;
    text-align: center;
    background-color: #62371C;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    border: 2px solid #77C29E;
}

.login-btn:hover {
    color: #62371C;
    text-align: center;
    background-color: #f7f1d5;
    width: 100px;
    margin-top: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    border: 2px solid #77C29E;
}

h4 {
    text-align: center;
}

.login-error {
    color: #62371C;
    font-weight: bold;
    text-align: center;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    padding: 12px 16px 12px 42px;
    margin-bottom: 10px;
    border: none;
    width: 47%;
    border-radius: 10px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25), 0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
}

@media (max-width: 575px) {
    .login-with-google-btn {
        width: 70%;
    }
}

ul {
    list-style-type: none;
}


/* ABOUT STYLING */

.about-body {
    background: url('https://images.pexels.com/photos/34650/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: contain;
    height: 100%;
    width: auto;
    /* height: 100vh; */
    /* width: auto; */
}


/* .about-background {
    background-color: rgba(119, 194, 158, 0.95);
    margin: 50px 50px 0px 50px;
    padding: 90px;
} */

.about-container {
    background-color: rgba(119, 194, 158, 0.95);
    margin: 50px 50px 0px 50px;
    padding: 90px;
    text-align: center;
}

.about-title {
    margin-top: 20px;
    font-size: 25px;
}

.me-photo {
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.about-gifs {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-text {
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
}


/* CONTACT STYLING */

.contact-body {
    background: url('https://images.pexels.com/photos/2079438/pexels-photo-2079438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: contain;
    height: 100%;
}

@media (max-width: 770px) {
    .contact-body {
        background: url('https://images.pexels.com/photos/2079438/pexels-photo-2079438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        height: 100%;
    }
}

.contact-icons {
    height: 50px;
    padding: 2px;
    display: flex;
    margin: 0 auto;
}

h6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.contact-form {
    padding: 20px 20px 20px 0px;
    margin-top: 50px;
    background-color: rgba(247, 241, 213, 0.95);
    box-shadow: 3px 3px #77C29E;
    display: flex;
}

.icons {
    padding-bottom: 50px;
}

.contact-confirmation {
    text-align: center;
    margin-top: 10px;
}

.contact-div {
    color: #62371C;
    text-align: center;
    margin: 0 auto;
}


/* FAVOURITES STYLING */

.favourites-body {
    background: url('https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: contain;
    height: 100%;
}

.favourites-container {
    background-color: rgba(119, 194, 158, 0.95);
    margin-top: 90px;
    margin-right: 30px;
    margin-left: 30px;
    /* padding: 90px; */
}

.favourites-list {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.favourites-card {
    background-color: #f7f1d5;
    padding: 20px;
    width: 800px;
    margin: 2px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    box-shadow: 3px 3px #62371C;
}

@media (max-width: 810px) {
    .favourites-list {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .favourites-card {
        background-color: #f7f1d5;
        padding: 20px;
        width: 400px;
        margin: 2px;
        margin: 0 auto;
        display: inline;
        flex-wrap: wrap;
        text-align: center;
        box-shadow: 3px 3px #62371C;
    }
}

@media (max-width: 520px) {
    .favourites-container {
        margin-right: 0px;
        margin-left: 0px;
        /* padding: 90px; */
    }
}

h3 {
    text-align: center;
    color: #62371C;
    padding-top: 40px;
    padding-bottom: 30px;
}

.ratings-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.ratings-card {
    background-color: #F6F3E4;
    padding: 20px;
    width: 300px;
    height: 70vh;
    text-align: center;
    margin: 0 auto;
    display: inline;
    justify-content: space-between;
    box-shadow: 6px 6px #62371C;
}

.favourites-info {
    padding: 10px;
    list-style-type: none;
    /* padding-left: 50px; */
}

.recommendations {
    padding: 10px;
    list-style-type: none;
    text-align: left;
}

.rating-link:hover {
    color: #F6F3E4;
}

.remove-link:hover {
    color: #77C29E;
}

.rating-arrow {
    color: #62371C;
}

.on {
    color: #62371C;
}

.off {
    color: #f7f1d5;
}

.reviews-text {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #f7f1d5;
    text-align: center;
}

.ratings {
    display: inline;
    margin: 0 auto;
    margin-top: 5px;
    /* padding: 50px; */
    text-align: center;
    padding-top: 0px;
    background-color: rgba(119, 194, 158, 0.0);
    color: #62371C;
}

button {
    background: none;
    border: none;
    text-align: center;
}

.ratings-btn {
    color: #62371C;
    text-align: center;
    background-color: #f7f1d5;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    border: 2px solid #77C29E;
}

.ratings-btn:hover {
    color: #f7f1d5;
    background-color: #62371C;
}